[submodule "nodeeditor"]
    path = lib/nodeeditor
    url = https://github.com/paceholder/nodeeditor
    ignore = all
[submodule "SimplexNoise"]
	path = lib/SimplexNoise
	url = https://github.com/SRombauts/SimplexNoise
    ignore = all
[submodule "quazip"]
	path = lib/quazip
	url = https://github.com/stachenov/quazip
    ignore = all
[submodule "json"]
	path = lib/json/json
	url = https://github.com/nlohmann/json.git
    ignore = all
