# makefile compiled from *.pro file, does not need to be monitored
Makefile
.qmake.stash

# Vim settings for g++ linting
_vimrc_local.vim

# Compiled build files do not need to be watched
build/
lib/

.vscode/

src/UI/ui_*.h