[submodule "nodeeditor"]
    path = lib/nodeeditor
    url = https://github.com/paceholder/nodeeditor
    ignore = all
[submodule "SimplexNoise"]
	path = lib/SimplexNoise/SimplexNoise
	url = ./lib/SimplexNoise/
    ignore = all
