# makefile compiled from *.pro file, does not need to be monitored
Makefile
.qmake.stash

# Vim settings for g++ linting
_vimrc_local.vim

# Compiled build files do not need to be watched
build/
lib/
test/build/
test/moc/
test/objects/
test/target_wrapper.sh
assets/help/help.qch
assets/help/help.qhc
assets/help/icons/
assets/help/images/
assets/help/*.md
docs/help/*.pdf
docs/uml/images

.vscode/

src/UI/ui_*.h